<launch>

    <include file="$(find aristos_maps)/launch/multiple_maps.launch" />

    <node pkg="boustrophedon_server" type="boustrophedon_planner_server" name="boustrophedon_server"  output="screen" respawn="true" >
        <!-- outline parameters -->
        <param name="repeat_boundary" value="false"/>
        <param name="outline_clockwise" value="true"/>
        <param name="skip_outlines" value="false"/>
        <param name="outline_layer_count" value="0"/>
        
        <!-- step size- -->
        <param name="stripe_separation" value="0.9"/>

        <!-- striping parameters -->
        <param name="intermediary_separation" value="0.0"/>
        <param name="stripe_angle" value="0.0"/>
        <param name="enable_stripe_angle_orientation" value="true" />
        <param name="travel_along_boundary" value="false" />
        <param name="return_to_start" value="false" />
        <param name="allow_points_outside_boundary" value="true" />
        <!-- Note: if enabling half-y turns, must have an outline_layer_count >= 1 -->
        <param name="enable_half_y_turns" value="false" />
        <param name="points_per_turn" value="55" />
        <param name="turn_start_offset" value="0.5" />

        <!-- publishing -->
        <param name="publish_polygons" value="true"/>
        <param name="publish_path_points" value="true"/>
    </node>

    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find boustrophedon_server)/rviz/boustrophedon.rviz" />
    <node pkg="boustrophedon_server" type="boustrophedon_planner_client" name="boustrophedon_client"  output="screen" respawn="true"/>
</launch>
 